body {
    background-color: #f2f2f2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.standings-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.standings-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.standings-table thead {
    background-color: #f2f2f2;
}

.standings-table th, .standings-table td {
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
    text-align: center; /* Center align text in both headers and data cells */
    color: #333;
}

.standings-table tbody tr {
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.standings-table tbody tr:hover {
    background-color: #b6b6b6; /* Highlight color for the row */
    font-weight: bold;
}

.standings-table tbody tr:hover td {
    color: #000;

}

.standings-table tbody tr img {
    width: 35px;
    height: 35px;
}
